<!DOCTYPE html>
<html lang="en">
<head>
    <!---->
    <meta charset="utf-8">
    <meta name="description" content="Miminium Admin Template v.1">
    <meta name="author" content="Isna Nur Azis">
    <meta name="keyword" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Climate</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">


		<!-- jsCalendar -->

		<link rel="stylesheet" href="static/src/calendar.css">
		<script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="static/src/calendar.js"></script>

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="static/css/plugins/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/plugins/simple-line-icons.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/plugins/animate.min.css"/>
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />

    <!-- end: Css -->

    <link rel="shortcut icon" href="static/img/logomi.png">

    <style type="text/css">
		#map {
			height: 500px;
			width: 100%;
		}
		ul,
		ol,
		li {
				list-style: none;
				padding: 0;
				margin: 0;
		}
		#one .prev,#one .next, #one a{
			line-height:10px;
		}

    </style>
</head>

<body id="mimin" class="dashboard">


<!-- start: Header -->
<nav class="navbar navbar-default header navbar-fixed-top">
  <div class="col-md-12 nav-wrapper">
    <div class="navbar-header" style="width:100%;">
      <div class="opener-left-menu is-open">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
        <a class="navbar-brand">
         <b>Deep Travel</b>
        </a>

      <ul class="nav navbar-nav search-nav">
        <li>
           <div class="search">
            <span class="fa fa-search icon-search" style="font-size:23px;"></span>
            <div class="form-group form-animate-text">
              <input type="text" class="form-text" required>
              <span class="bar"></span>
              <label class="label-search">Type anywhere to <b>Search</b> </label>
            </div>
          </div>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right user-nav">
        <li class="user-name"><span>ขบวนการห้าสี</span></li>
          <li class="dropdown avatar-dropdown" style="padding-right:20px;">
           <img src="static/img/avatar.jpg" class="img-circle avatar" alt="user name" aria-haspopup="true" aria-expanded="true"/>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end: Header -->

<div class="container-fluid mimin-wrapper">
    <!-- start:Left Menu -->
    <div id="left-menu">
        <div class="sub-left-menu scroll">
            <ul class="nav nav-list">
                <li class="time">
                    <h1 class="animated fadeInLeft">21:00</h1>
                    <p class="animated fadeInRight">Sat,October 1st 2029</p>
                </li>
                <!--<center>
                    <input type="button" value="Upload File" class="btn btn-danger box-shadow-none"/>
                </center>-->
            </ul>
        </div>
    </div>
    <!-- end: Left Menu -->


    <!-- start: content -->
    <div id="content">
        <div class="panel">
            <div class="panel-body">
                <div class="col-md-6 col-sm-12">
                    <h3 id="set_name" class="animated fadeInLeft">Customer Service</h3>
                    <p class="animated fadeInDown"><span class="fa fa-map-marker"></span>   Thailand</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
                        <h3 id='set_val' style="color:#DDDDDE;">สภาพภูมิอากาศ</h3>
                        <h1 id="temp" style="margin-top: -10px;color: #ddd;"></h1>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="wheather">
                            <div id = "wet1" class="rainy stormy animated pulse infinite">
                                <div class="shadow">

                                </div>
                            </div>
                            <div class="sub-wheather">
                                <div id="wet2" class="rain">
                                    <div id="sub-wet1" class="droplet droplet1"></div>
                                    <div id="sub-wet2" class="droplet droplet2"></div>
                                    <div id="sub-wet3" class="droplet droplet3"></div>
                                    <div id="sub-wet4" class="droplet droplet4"></div>
                                    <div id="sub-wet5" class="droplet droplet5"></div>
                                    <div id="sub-wet6" class="droplet droplet6"></div>
                                </div>
                            </div>
                            <small>Hello</small
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding:20px;">
            <div class="col-md-12 padding-0">
                <div class="col-md-8 padding-0">
                    <div class="col-md-12 padding-0">
                        <div class="col-md-6">
                            <div class="panel box-v1">
                                <div class="panel-heading bg-white border-none">
                                    <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">


                                        <h4 class="text-left">Temperature</h4>

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                        <h4>
                                       <span class="icon text-right">
									  	<img src="static/img/png/temp.png">
									   </span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="panel-body text-center">
                                    <h1>280</h1>
                                    <p>Kelvin</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel box-v1">
                                <div class="panel-heading bg-white border-none">
                                    <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                        <h4 class="text-left">Rain</h4>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                        <h4>
                                       <span class="icon text-right">
									  	<img src="static/img/png/rain.png">
									   </span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="panel-body text-center">
                                    <h1>28</h1>
                                    <p>Cubic meter</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel box-v4">
                            <div class="panel-body padding-0">

                                <div id="map"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 padding-0">
                        <div class="panel box-v2">

                            <div class="panel-body">
                                <div class="col-md-12 padding-0 text-center">
                                    <div class="col-md-12 col-sm-12 col-xs-6 padding-0">
                                        <h3 id="set_date"></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 padding-0">
                        <div class="panel box-v3" style="padding:0;">
                            <div class="panel-heading bg-white border-none">
                                <h4>Select Date</h4>
                            </div>
															<!--calender-->
																<center>
																		<div id="one"></div>
																</center>
                                <!--end calendar-->
                            <div class="panel-footer bg-white border-none">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 card-wrap padding-0">
                    <div class="col-md-6">
                        <div class="panel">
                          <div class="panel-heading bg-white border-none" style="padding:20px;">
                            <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                              <h4>Temperature</h4>
                            </div>
                          </div>
                          <div class="panel-body" style="padding-bottom:50px;">
                              <div id="canvas-holder1">
                                    <canvas class="line-chart" style="margin-top:30px;height:200px;"></canvas>
                              </div>
                              <div class="col-md-12" style="padding-top:20px;">
                                  <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                                      <h2 style="line-height:.4;">25.5</h2>
                                      <small>Average</small>
                                  </div>
                                  <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                                      <h2 style="line-height:.4;">28.4</h2>
                                      <small>Maximum</small>
                                  </div>
                                  <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                                      <h2 style="line-height:.4;">22.0</h2>
                                      <small>Minimum</small>
                                  </div>
                              </div>
                          </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel">
                          <div class="panel-heading bg-white border-none" style="padding:15px;">
                            <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                              <h4>Popular</h4>
                            </div>
                          </div>
                          <div class="panel-body">
                              <div id="canvas-holder1">
                                <canvas class="doughnut-chart"></canvas>
                              </div>
                              <div class="col-md-12" style="padding-top:10px;" >
                                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                                  <a href="#">
                                  <img src="static/img/facebook-like.svg" class="img-circle" style="width:80px;height:80px;" aria-expanded="true" />
                                </a>
                                      <h2 style="line-height:.4;">72%</h2>
                                      <small>Like</small>
                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                                    <a href="#">
                                    <img src="static/img/facebook-dislike.png" class="img-circle" style="width:80px;height:80px;" aria-expanded="true"/>
                                  </a>
                                      <h2 style="line-height:.4;">28%</h2>
                                      <small>Dislike</small>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                    </div>

                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                          <div class="col-md-6 col-sm-8 col-xs-12">
                            <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>

                        </div>
                        <div class="col-md-6 col-sm-8 col-xs-12">
                          <h2> Share </h2>
                        </br></br>
                          <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                            <a href="#">
                            <img src="static/img/facebook-logo.svg" class="img-circle" style="width:80px;height:80px;" aria-expanded="true" />
                          </a>
                          <h3 style="line-height:.4;">Facebook</h3>

                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                          <a href="#">
                          <img src="static/img/twitter-logo.png" class="img-circle" style="width:80px;height:80px;" aria-expanded="true" />
                        </a>
                        <h3 style="line-height:.4;">Twitter</h3>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                        <a href="#">
                        <img src="static/img/google-logo.png" class="img-circle" style="width:80px;height:80px;" aria-expanded="true" />
                      </a>
                      <h3 style="line-height:.4;">Google+</h3>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: content -->
</div>

<script>
    var now = new Date();
    var year = now.getFullYear();
    var month = now.getMonth() + 1;
    var date = now.getDate();
    var $ca = $('#one').calendar({
        width: 300,
        height: 320,
        data: null,
				weekArray: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        monthArray: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        date: now,
        onSelected: function (view, date, data) {
            console.log('view:' + view)
            console.log('date:' + date)
						var y = date.getFullYear();
						var m = date.getMonth() + 1;
						var d = date.getDate();
						$("#set_date").text(d+'/'+m+'/'+y);
        },
        viewChange: function (view, y, m) {
            console.log(view, y, m)
        }
    });
</script>

<!-- start: Javascript -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.ui.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>


<!-- plugins -->
<script src="static/js/plugins/moment.min.js"></script>
<script src="static/js/plugins/jquery.nicescroll.js"></script>
<script src="static/js/plugins/jquery.vmap.min.js"></script>
<script src="static/js/plugins/maps/jquery.vmap.world.js"></script>
<script src="static/js/plugins/jquery.vmap.sampledata.js"></script>
<script src="static/js/plugins/chart.min.js"></script>


<!-- custom -->
<script src="static/js/main.js"></script>
<script type="text/javascript">
  (function(jQuery){
		var now = new Date();
		var year = now.getFullYear();
    var month = now.getMonth() + 1;
    var date = now.getDate();
		$("#set_date").text(date+'/'+month+'/'+year);

    // start: Chart =============
    Chart.defaults.global.pointHitDetectionRadius = 1;
    Chart.defaults.global.customTooltips = function(tooltip) {

        var tooltipEl = $('#chartjs-tooltip');

        if (!tooltip) {
            tooltipEl.css({
                opacity: 0
            });
            return;
        }

        tooltipEl.removeClass('above below');
        tooltipEl.addClass(tooltip.yAlign);

        var innerHtml = '';
        if (undefined !== tooltip.labels && tooltip.labels.length) {
            for (var i = tooltip.labels.length - 1; i >= 0; i--) {
                innerHtml += [
                    '<div class="chartjs-tooltip-section">',
                    '   <span class="chartjs-tooltip-key" style="background-color:' + tooltip.legendColors[i].fill + '"></span>',
                    '   <span class="chartjs-tooltip-value">' + tooltip.labels[i] + '</span>',
                    '</div>'
                ].join('');
            }
            tooltipEl.html(innerHtml);
        }

        tooltipEl.css({
            opacity: 1,
            left: tooltip.chart.canvas.offsetLeft + tooltip.x + 'px',
            top: tooltip.chart.canvas.offsetTop + tooltip.y + 'px',
            fontFamily: tooltip.fontFamily,
            fontSize: tooltip.fontSize,
            fontStyle: tooltip.fontStyle
        });
    };
    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };
    var lineChartData = {
        labels: ["00.00", "01.00", "02.00", "03.00", "04.00", "05.00", "06.00", "07.00",
                 "08.00", "09.00", "10.00", "11.00", "12.00", "13.00", "14.00", "15.00",
                 "16.00", "17.00", "18.00", "19.00", "20.00", "21.00", "22.00", "23.00"],
        datasets: [{
            label: "My First dataset",
            fillColor: "rgba(21,186,103,0.4)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(66,69,67,0.3)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
             data: [23.0, 24.0, 22.0, 23.0, 24.0, 25.0, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5,
                    27.8, 28.4, 27.5, 26.5, 26.0, 25.7, 25.0, 24.7, 25.5, 24.0, 23.0, 23.5]
        }]
    };

    var doughnutData = [
            {
                value: 300,
                color:"#129352",
                highlight: "#15BA67",
                label: "Like"
            },
            {
                value: 50,
                color: "#FF0000",
                highlight: "#F72665",
                label: "Dislike"
            }/*,
            {
                value: 100,
                color: "#FDB45C",
                highlight: "#15BA67",
                label: "Gamma"
            },
            {
                value: 40,
                color: "#0F5E36",
                highlight: "#15BA67",
                label: "Peta"
            },
            {
                value: 120,
                color: "#15A65D",
                highlight: "#15BA67",
                label: "X"
            }*/

        ];


    var doughnutData2 = [
            {
                value: 100,
                color:"#129352",
                highlight: "#15BA67",
                label: "Alfa"
            },
            {
                value: 250,
                color: "#FF6656",
                highlight: "#FF6656",
                label: "Beta"
            },
            {
                value: 100,
                color: "#FDB45C",
                highlight: "#15BA67",
                label: "Gamma"
            },
            {
                value: 40,
                color: "#FD786A",
                highlight: "#15BA67",
                label: "Peta"
            },
            {
                value: 120,
                color: "#15A65D",
                highlight: "#15BA67",
                label: "X"
            }

        ];

    var barChartData = {
            labels: ["00.00", "01.00", "02.00", "03.00", "04.00", "05.00", "06.00", "07.00",
                     "08.00", "09.00", "10.00", "11.00", "12.00", "13.00", "14.00", "15.00",
                     "16.00", "17.00", "18.00", "19.00", "20.00", "21.00", "22.00", "23.00"],

            datasets: [

                {
                    label: "My Second dataset",
                    fillColor: "rgba(21,113,186,0.5)",
                    strokeColor: "rgba(151,187,205,0.8)",
                    highlightFill: "rgba(21,113,186,0.2)",
                    highlightStroke: "rgba(21,113,186,0.2)",
                    data: [288.88, 289.46, 275.21, 269.60, 284.86, 285.66, 271.87, 200.23,
                           202.92, 211.22, 237.09, 256.97, 279.29, 259.42, 268.04, 289.67,
                           288.47, 286.03, 283.40, 281.77, 281.86, 266.02, 282.76, 277.31]
                }
            ]
        };

     window.onload = function(){
            var ctx = $(".doughnut-chart")[0].getContext("2d");
            window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {
                responsive : true,
                showTooltips: true
            });

            var ctx2 = $(".line-chart")[0].getContext("2d");
            window.myLine = new Chart(ctx2).Line(lineChartData, {
                 responsive: true,
                    showTooltips: true,
                    multiTooltipTemplate: "<%= value %>",
                 maintainAspectRatio: false
            });

            var ctx3 = $(".bar-chart")[0].getContext("2d");
            window.myLine = new Chart(ctx3).Bar(barChartData, {
                 responsive: true,
                    showTooltips: true
            });

            var ctx4 = $(".doughnut-chart2")[0].getContext("2d");
            window.myDoughnut2 = new Chart(ctx4).Doughnut(doughnutData2, {
                responsive : true,
                showTooltips: true
            });

        };

      jQuery('.maps').vectorMap({
        map: 'world_en',
        backgroundColor: null,
        color: '#fff',
        hoverOpacity: 0.7,
        selectedColor: '#666666',
        enableZoom: true,
        showTooltip: true,
        values: sample_data,
        scaleColors: ['#C8EEFF', '#006491'],
        normalizeFunction: 'polynomial'
    });
    // end: Maps==============

  })(jQuery);


	function initMap() {
		  // Create a map object and specify the DOM element for display.
			var test = {{ station }};
			var f= {{ ads|tojson }};
			var test2 = jQuery.parseJSON(f);
			var i;
			var locations = [];
			for (i = 0; i < test.length; i++) {
		  	locations.push({lat:test[i][0], lng:test[i][1], info:test2[i][0], temp:test[i][2]});
			}

		  var map = new google.maps.Map(document.getElementById('map'), {
		    center: {lat: 13.736717, lng: 100.523186},
		    zoom: 5
		    //mapTypeId:google.maps.MapTypeId.HYBRID
		  });

			var infoWin = new google.maps.InfoWindow();
			var markers = locations.map(function(location, i) {
				var marker = new google.maps.Marker({
				  position: location
				});
				google.maps.event.addListener(marker, 'click', function(evt) {
					$( "p" ).removeClass( "myClass noClass" ).addClass( "yourClass" );
					$('html,body').scrollTop(0);
					$("#set_name").text(location.info);
				  infoWin.setContent(location.info);
				  infoWin.open(map, marker);
					$("#temp").text(location.temp+' C');
				})
				return marker;
		});
		      // Add a marker clusterer to manage the markers.
		  var markerCluster = new MarkerClusterer(map, markers,
		      {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
	}

</script>


<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjE02o0x9218Hz1McqFlrN3quz545-Vcs&callback=initMap"
        async defer></script>
<script type="text/javascript" id="hcb">
/*<!--*/ if(!window.hcb_user){
            hcb_user={};
          } (function(){
            var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%244ZxDQUOrOeSLoQB.nFIFQ0"+"&opts=16862&num=10&ts=1511645960825");
            if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/
</script>

<!-- end: Javascript -->
</body>
</html>


<!-- begin wwww.htmlcommentbox.com -->
 <!-- end www.htmlcommentbox.com -->
